@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.jpeg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 95%;
    height: 640px;
   background-image: url(background.jpeg);
   background-size: 1500px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 250%;
    text-transform: uppercase;
    color:white;
    background-color: pink;
    border: pink;
    padding: 6px 10px;
    border-radius: 10px;
    border-style: none;
    }

.logo:hover{
    background-color: transparent;
    color: black;
}    

ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 140%;
    background-image: linear-gradient(to bottom, pink, transparent);
    border-radius: 8px;
    
}    

ul a:hover{
    background-color: pink;
    border-radius: 10px;
    color: white;
    padding: 1px 2px;
}

.content{
    width: 30%;
    margin-top: 100px;
    padding: 30px;
    color: black;
    
}

.content:hover{
    background-image: linear-gradient(to bottom, pink -70% , transparent);
    border-radius: 10px;
    
    
}

.content h1{
    font-size:50px ;
    text-transform: uppercase;
    color:black;
}

.content p{
    initial-letter: 2px;
    width: 420px;
    padding: 20px 0;
}

.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: pink;
    background-color: plum;
}

.content button:hover{
    background-color: transparent;
    border: 2px solid pink;
   color: pink; 
   cursor: pointer;
}


